<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation batch="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="/server.ts" verb="*" modules="iisnode" />
    </handlers>
    <!--<rewrite>
    
            <rules>
                <rule name="AngularJS" stopProcessing="true">
                <match url="^(?!.*(.bundle.js|.bundle.map|.bundle.js.gz|.bundle.css|.bundle.css.gz|.png|.jpg|.ico)).*$" />
                <conditions logicalGrouping="MatchAll">
                </conditions>
                <action type="Rewrite" url="/src/"  appendQueryString="true" />
                </rule>
            </rules>
 
    </rewrite>-->
  </system.webServer>
</configuration>