<div class="col-sm-12">

    <div class="row guildTitle">

        <span *ngIf="!editMode">
            <h2>
                {{guild.name}}
            </h2>
        </span>
        <input *ngIf="editMode" #name (keyup)="onKey(name.value)">       

        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="editModeToggle()"></span>

    </div>

    <div class="row">
        <button type="button" class="btn btn-default" (click)="selectTeam(1)">Team 1</button>
        <button type="button" class="btn btn-default" (click)="selectTeam(2)">Team 2</button>
        <button type="button" class="btn btn-default" (click)="selectTeam(3)">Team 3</button>
        <button type="button" class="btn btn-default" (click)="selectTeam(4)">Team 4</button>
        <button type="button" class="btn btn-default" (click)="selectTeam(5)">Team 5</button>

    </div>

    <div class="row">
        <ul>
            <li *ngFor="let i of [1, 2, 3, 4, 5]">
                <div class="dropdown">
                    <li data-toggle="dropdown">Character {{i}}: {{selectedTeamCharacters[i]?.name}}</li>
                    <ul class="dropdown-menu">
                        <li (click)="assignCharacter(null, i)">Remove</li>
                        <li *ngFor="let character of guild?.characters" (click)="assignCharacter(character, i)">
                            {{character?.name}}
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                
                <button type="button" class="btn btn-default" (click)="setTeam()">Save</button>
                
            </li>
        </ul>
    </div>

    <div class="row">
        <ul>
            <li>{{selectedTeam?.teamId}}</li>
            <li>{{selectedTeam?.currentZone}}</li>
            <li>{{selectedTeam?.dungeonId}}</li>
            <li>{{timeRemaining}}</li>
            
            <button type="button" class="btn btn-default" (click)="completeDungeon(selectedTeam?.teamId)">Complete</button>
            
        </ul>
    </div>

    <div class="row">
        <div *ngFor="let character of guild.characters; let i = index" class="col-sm-2 well">
            <span *ngIf="!character.editMode">{{character?.name}}</span>
            <span>HP: {{character?.stats?.base.vitality | vitToHp}}</span>
            <input *ngIf="character.editMode" #characterName (keyup)="onKeyCharacter(characterName.value)">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="editModeToggleCharacter(character.unitId)">
                    Edit</button>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="pullCharacterCard()">
            Pull New Character</button>
        <li *ngFor="let card of guild?.guildInventory?.characterCards">
            <span>{{card.name}}</span>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="redeemCharacterCard(card)">
                Redeem</button>
        </li>
    </div>
        
</div>