<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    
    <div class="row">
        
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <ul>
                <div *ngFor="let zone of zones" class="well" (click)="setSelectedZone(zone)">
                    <span>{{zone?.name}}</span>
                </div>
            </ul>
        </div>

        
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <span>{{selectedZone?.name}}</span>
            </div>
            <div class="row">
                <div *ngFor="let dungeon of selectedZoneDungeons" class="well">
                    {{dungeon?.name}}
                    
                    <span *ngFor="let team of guild?.teams; let i = index">
                        <button *ngIf="team.dungeonId == 0 && team.units.size > 0" type="button" class="btn btn-default" (click)="attemptDungeon(i+1, dungeon.dungeonId)">
                            Send Team {{i+1}}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    
    </div>
</div>
