<h1>
  <button *ngIf="!loginStatus" (click)="getToken()">Sign In with Facebook</button>
  <button (click)="testButton()">Test Something</button>
  <ul class="token">
    <li *ngFor="let guild of chronicles">
          <span>{{guild}}</span>>
    </li>
  </ul>
</h1>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li>
          <a (click)="expandGuild()">Guilds</a>
            <ul *ngIf="expandGuildBool">
              <li *ngIf="userData?.guild1Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild1Id]" routerLinkActive="active">{{userData.guild1Name}}</a></li>
              <li *ngIf="userData?.guild2Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild2Id]" routerLinkActive="active">{{userData.guild2Name}}</a></li>
              <li *ngIf="userData?.guild3Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild3Id]" routerLinkActive="active">{{userData.guild3Name}}</a></li>
              <li *ngIf="userData?.guild4Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild4Id]" routerLinkActive="active">{{userData.guild4Name}}</a></li>
              <li *ngIf="userData?.guild5Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild5Id]" routerLinkActive="active">{{userData.guild5Name}}</a></li>
            </ul>
        </li>
        <li><a routerLink="/characters" routerLinkActive="active">Characters</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>{{title}}</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li>
          <a (click)="expandGuild()">Guilds</a>
            <ul *ngIf="expandGuildBool">
              <li *ngIf="userData?.guild1Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild1Id]" routerLinkActive="active">{{userData.guild1Name}}</a></li>
              <li *ngIf="userData?.guild2Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild2Id]" routerLinkActive="active">{{userData.guild2Name}}</a></li>
              <li *ngIf="userData?.guild3Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild3Id]" routerLinkActive="active">{{userData.guild3Name}}</a></li>
              <li *ngIf="userData?.guild4Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild4Id]" routerLinkActive="active">{{userData.guild4Name}}</a></li>
              <li *ngIf="userData?.guild5Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild5Id]" routerLinkActive="active">{{userData.guild5Name}}</a></li>
            </ul>
        </li>
        <li><a routerLink="/characters" routerLinkActive="active">Characters</a></li>
      </ul><br>
    </div>
    <br>
    <router-outlet></router-outlet>

  </div>
</div>