<div class="container-fluid app">

  <div class="row">
    <nav class="navbar navbar-inverse top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Guild Tycoon</a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default navbar-btn" *ngIf="!loginStatus" (click)="getToken()">Sign in with Facebook</button></li>         
          <li><a href="#"><span *ngIf="loginStatus">{{userData?.username}}</span></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <ul *ngIf="userData?.role == 'Admin'" class="nav nav-tabs nav-justified navAdmin">
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/charactercards" routerLinkActive="active">Character Cards</a></li>
        <li><a routerLink="/mobcards" routerLinkActive="active">Mob Cards</a></li>
        <li><a routerLink="/zonesAdmin" routerLinkActive="active">Zones</a></li>
        <li><a routerLink="/dungeons" routerLinkActive="active">Dungeons</a></li>
      </ul>
  </div>

  <div class="row">
    <ul class="nav nav-tabs nav-justified navPages">
      <li><a routerLink="/dashboard" routerLinkActive="link-active">Dashboard</a></li>
      <li><a routerLink="/guild" routerLinkActive="link-active">Guild</a></li>
      <li><a routerLink="/characters" routerLinkActive="link-active">Characters</a></li>
      <li><a routerLink="/zones" routerLinkActive="link-active">Map</a></li>
    </ul>  
  </div>

  <div class="row">
    <ul class="nav nav-tabs nav-justified guildSelector">
      <li *ngIf="userData?.guild1Id != '00000000-0000-0000-0000-000000000000'" (click)="selectGuild(userData.guild1Id)"><a>{{userData?.guild1Name}}</a></li>
      <li *ngIf="userData?.guild2Id != '00000000-0000-0000-0000-000000000000'" (click)="selectGuild(userData.guild2Id)"><a>{{userData?.guild2Name}}</a></li>
      <li *ngIf="userData?.guild3Id != '00000000-0000-0000-0000-000000000000'" (click)="selectGuild(userData.guild3Id)"><a>{{userData?.guild3Name}}</a></li>
      <li *ngIf="userData?.guild4Id != '00000000-0000-0000-0000-000000000000'" (click)="selectGuild(userData.guild4Id)"><a>{{userData?.guild4Name}}</a></li>
      <li *ngIf="userData?.guild5Id != '00000000-0000-0000-0000-000000000000'" (click)="selectGuild(userData.guild5Id)"><a>{{userData?.guild5Name}}</a></li>
    </ul>  
  </div>

  <div class="row">

    <!--<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 navigation">
      <ul class="nav nav-pills nav-stacked">
        
          <li class="active"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li>
            <a (click)="expandGuild()">Guilds</a>
              <ul *ngIf="expandGuildBool">
                <li *ngIf="userData?.guild1Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild1Id]" routerLinkActive="active">{{userData.guild1Name}}</a></li>
                <li *ngIf="userData?.guild2Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild2Id]" routerLinkActive="active">{{userData.guild2Name}}</a></li>
                <li *ngIf="userData?.guild3Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild3Id]" routerLinkActive="active">{{userData.guild3Name}}</a></li>
                <li *ngIf="userData?.guild4Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild4Id]" routerLinkActive="active">{{userData.guild4Name}}</a></li>
                <li *ngIf="userData?.guild5Id != '00000000-0000-0000-0000-000000000000'"><a [routerLink]="['/guild', userData?.guild5Id]" routerLinkActive="active">{{userData.guild5Name}}</a></li>
              </ul>
          </li>
          <li><a routerLink="/characters" routerLinkActive="active">Characters</a></li>
          <li><a routerLink="/zones" routerLinkActive="active">Zones</a></li>
      </ul>
      <ul *ngIf="userData?.role == 'Admin'" class="nav nav-pills nav-stacked">
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/charactercards" routerLinkActive="active">Character Cards</a></li>
        <li><a routerLink="/mobcards" routerLinkActive="active">Mob Cards</a></li>
        <li><a routerLink="/zonesAdmin" routerLinkActive="active">Zones</a></li>
        <li><a routerLink="/dungeons" routerLinkActive="active">Dungeons</a></li>
      </ul>
    </div>-->

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 content">
        <router-outlet></router-outlet>
    </div>

  </div>
</div>