<div class="col-sm-9">
    <!--List of characters-->
    <div class="col-sm-3 col-md-3 col-lg-3">
        <li *ngFor="let character of guild.characters" (click)="onSelect(character)"
            [class.selected]="character === selectedCharacter">
            <span>{{character?.name}}</span>
        </li>
        <button class="btn btn-primary" type="button" (click)="fight()">Fight</button>
    </div>
    <!--Details-->
    <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <div class="row">
        <!--Equipment Layout-->
            <div>Name: {{selectedCharacter?.name}}</div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <ul>
                    <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                        <li *ngIf="itemSlot.key % 2 != 0">
                            <span>{{itemSlot.value}}: </span>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                    {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                        {{item?.name}}
                                    </li>
                                </ul>
                            </div>
                        </li>                    
                    </div>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p style="text-align:center">Picture of character</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                    <li *ngIf="itemSlot.key % 2 == 0">
                        <span>{{itemSlot.value}}: </span>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                    {{item?.name}}
                                </li>
                            </ul>
                        </div>
                    </li>                    
                </div>
            </div>
        </div>
        <!--Stats-->
        <div class="row">
            <ul>
                <li>{{selectedCharacter.level}}</li>
                <li>{{selectedCharacter.teamId}}</li>
            </ul>
        </div>
        <div class="row">
            <div>
                <div style="text-align:center"><p>Base</p></div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>{{selectedCharacter.stats.base.strength}}</li>
                        <li>{{selectedCharacter.stats.base.agility}}</li>
                        <li>{{selectedCharacter.stats.base.dexterity}}</li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>{{selectedCharacter.stats.base.intelligence}}</li>
                        <li>{{selectedCharacter.stats.base.vitality}}</li>
                        <li>{{selectedCharacter.stats.base.focus}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Regimen-->
        <div class="row">
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Target</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let target of regimenActionTargets" (click)="setRegimenActionTarget(target.name)">
                        {{target.name}}
                    </li>
                </ul>
                {{regimenAction?.Target}}
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Target Property</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let property of regimenActionProperties" (click)="setRegimenActionTargetProperty(property.name)">
                        {{property.name}}
                    </li>
                </ul>
                {{regimenAction?.TargetProperty}}
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Target Operator</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let operator of regimenActionOperators" (click)="setRegimenActionTargetOperator(operator.name)">
                        {{operator.name}}
                    </li>
                </ul>
                {{regimenAction?.TargetOperator}}
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Target Value</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let value of targetValueArray" (click)="setRegimenActionTargetValue(value)">
                        {{value}}
                    </li>
                </ul>
                {{regimenAction?.TargetValue}}
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Using</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let using of regimenActionUsing" (click)="setRegimenActionUsing(using.name)">
                        {{using.name}}
                    </li>
                </ul>
                {{regimenAction?.UsingSelection}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                 <button class="btn btn-primary" type="button" (click)="addRegimenAction()">
                    Add</button>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <ul class="regimenStack">
                    <li *ngFor="let action of selectedCharacter.regimen?.regimenStack">
                        <div>
                            {{action?.target}}
                        </div>
                        <div>
                            {{action?.targetProperty}}
                        </div>
                        <div>
                            {{action?.targetOperator}}
                        </div>
                        <div>
                            {{action?.targetValue}}
                        </div>
                        <div>
                            {{action?.usingSelection}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>