<div class="col-sm-9">
    <div *ngIf="!hasCharacters">
        <h1>Guild has no characters</h1>
    </div>
    <!--List of characters-->
    <div *ngIf="hasCharacters" class="col-sm-3 col-md-3 col-lg-3">
        <li *ngFor="let character of guild.characters" (click)="onSelect(character)"
            [class.selected]="character === selectedCharacter">
            <span>{{character?.name}}</span>
        </li>
    </div>
    <!--Details-->
    <div *ngIf="hasCharacters" class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <div class="row">
        <!--Equipment Layout-->
            <div>Name: {{selectedCharacter?.name}}</div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <ul>
                    <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                        <li *ngIf="itemSlot.key % 2 != 0">
                            <span>{{itemSlot.value}}: </span>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                    <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name != null">
                                        {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</span>
                                    <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name == null">Empty</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                        {{item?.name}}
                                    </li>
                                </ul>
                            </div>
                        </li>                    
                    </div>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p style="text-align:center">Picture of character</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                    <li *ngIf="itemSlot.key % 2 == 0">
                        <span>{{itemSlot.value}}: </span>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name != null">
                                    {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</span>
                                <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name == null">Empty</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                    {{item?.name}}
                                </li>
                            </ul>
                        </div>
                    </li>                    
                </div>
            </div>
        </div>
        <!--Stats-->
        <div class="row">
            <ul>
                <li>Level: {{selectedCharacter?.level}}</li>
                <li>Team #: {{selectedCharacter?.teamId}}</li>
            </ul>
        </div>
        <div class="row">
            <div>
                <div style="text-align:center"><p>Base</p></div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>Strength: {{selectedCharacter.stats?.base.strength}}</li>
                        <li>Agility: {{selectedCharacter.stats?.base.agility}}</li>
                        <li>Dexterity: {{selectedCharacter.stats?.base.dexterity}}</li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>Intelligence: {{selectedCharacter.stats?.base.intelligence}}</li>
                        <li>Vitality: {{selectedCharacter.stats?.base.vitality}}</li>
                        <li>Focus: {{selectedCharacter.stats?.base.focus}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Regimen-->
        <div class="row">
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Target</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let target of regimenActionTargets" (click)="setRegimenActionTarget(target.name)">
                        {{target.name}}
                    </li>
                </ul>
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Property</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let property of regimenActionProperties" (click)="setRegimenActionTargetProperty(property.name)">
                        {{property.name}}
                    </li>
                </ul>
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Operator</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let operator of regimenActionOperators" (click)="setRegimenActionTargetOperator(operator.name)">
                        {{operator.name}}
                    </li>
                </ul>
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Value</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let value of targetValueArray" (click)="setRegimenActionTargetValue(value)">
                        {{value}}
                    </li>
                </ul>
            </div>
            <div class="dropdown col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Using</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let using of regimenActionUsing" (click)="setRegimenActionUsing(using.name)">
                        {{using.name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                 <button class="btn btn-primary" type="button" (click)="addRegimenAction()">
                    Add</button>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{regimenAction?.target}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{regimenAction?.targetProperty}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{regimenAction?.targetOperator}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{regimenAction?.targetValue}}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{regimenAction?.usingSelection}}
            </div>
        </div>
        <div class="row">
            <!--<table>
                <tr *ngFor="let action of selectedCharacter.regimen?.regimenStack">
                    <td>{{action?.target}} </td>
                    <td>{{action?.targetProperty}} </td>
                    <td>{{action?.targetOperator}} </td>
                    <td>{{action?.targetValue}} </td>
                    <td>{{action?.usingSelection}} </td>
                </tr>
            </table>-->
            <ul class="regimenStack">
                <li *ngFor="let action of selectedCharacter.regimen?.regimenStack; let idx = index">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{action?.target}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{action?.targetProperty}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{action?.targetOperator}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{action?.targetValue}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{action?.usingSelection}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <button type="button" class="btn btn-default" (click)="removeRegimenAction(idx)">Remove</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>