<div class="col-sm-12">
    <div *ngIf="!hasCharacters">
        <h1>Guild has no characters</h1>
    </div>
    <!--List of characters-->
    <div *ngIf="hasCharacters" class="col-sm-3 col-md-3 col-lg-3">
        <div *ngFor="let character of guild.characters" class="well" (click)="onSelect(character)"
            [class.selected]="character === selectedCharacter">
            <span>{{character?.name}}</span>
        </div>
    </div>
    <!--Details-->
    <div *ngIf="hasCharacters" class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <div class="row characterTitle">
            <h4>{{selectedCharacter?.name}}</h4>
        </div>

        <div class="row">
        <!--Equipment Layout-->
            <div class="col-sm-3 col-md-3 col-lg-3">
                <ul>
                    <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                        <div class="row">
                            <div *ngIf="itemSlot.key % 2 != 0" class="well">
                                <span>{{itemSlot.value}}: </span>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                        <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name != null">
                                            {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</span>
                                        <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name == null">Empty</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                            {{item?.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p style="text-align:center">Picture of character</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div *ngFor="let itemSlot of itemSlotNames | mapToIterable">
                    <div class="row">
                        <div *ngIf="itemSlot.key % 2 == 0" class="well">
                            <span>{{itemSlot.value}}: </span>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getItemsForEquipmentSlot(itemSlot.key)">
                                    <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name != null">
                                        {{selectedCharacterEquipment?.get(itemSlot.key)?.name}}</span>
                                    <span *ngIf="selectedCharacterEquipment?.get(itemSlot.key)?.name == null">Empty</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let item of itemsForEquipmentSlot" (click)="equipItem(item)">
                                        {{item?.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <!--Stats-->
        <div class="row">
            <ul>
                <li>Level: {{selectedCharacter?.level}}</li>
                <li>Team #: {{selectedCharacter?.teamId}}</li>
            </ul>
        </div>
        <div class="row">
            <div>
                <div style="text-align:center"><p>Base</p></div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>Strength: {{selectedCharacter.stats?.base.strength}}</li>
                        <li>Agility: {{selectedCharacter.stats?.base.agility}}</li>
                        <li>Dexterity: {{selectedCharacter.stats?.base.dexterity}}</li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <ul>
                        <li>Intelligence: {{selectedCharacter.stats?.base.intelligence}}</li>
                        <li>Vitality: {{selectedCharacter.stats?.base.vitality}}</li>
                        <li>Focus: {{selectedCharacter.stats?.base.focus}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Regimen-->
        <div class="row regimenActionStack">
            <span>Regimen Action Stack</span>
            <br/>
            <button class="btn btn-primary" type="button" (click)="createRegimenAction()">
                <span *ngIf="!addingRegimenAction">New Action</span>
                <span *ngIf="addingRegimenAction">Cancel</span>
            </button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Ally/Enemy</th>
                        <th>Select By</th>
                        <th>Comparison</th>
                        <th>Comparison Value</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="addingRegimenAction">
                        <td></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{regimenAction.target}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let target of regimenActionTargets" (click)="setRegimenActionTarget(target.name)">
                                        {{target.name}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{regimenAction.targetProperty}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let property of regimenActionProperties" (click)="setRegimenActionTargetProperty(property.name)">
                                        {{property.name}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{regimenAction.targetOperator}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let operator of regimenActionOperators" (click)="setRegimenActionTargetOperator(operator.name)">
                                        {{operator.name}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{regimenAction.targetValue}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let value of targetValueArray" (click)="setRegimenActionTargetValue(value)">
                                        {{value}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{regimenAction.usingSelection}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let using of regimenActionUsing" (click)="setRegimenActionUsing(using.name)">
                                        {{using.name}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button" (click)="addRegimenAction()">
                                Add
                            </button>
                        </td>
                    </tr>
                    <tr *ngFor="let action of selectedCharacter.regimen?.regimenStack; let idx = index">
                        <td>{{idx + 1}}</td>
                        <td>{{action?.target}}</td>
                        <td>{{action?.targetProperty}}</td>
                        <td>{{action?.targetOperator}}</td>
                        <td>{{action?.targetValue}}</td>
                        <td>{{action?.usingSelection}}</td>
                        <td>
                            
                            <button type="button" class="btn btn-default" (click)="regimenActionUp(idx)">Up</button>
                            <button type="button" class="btn btn-default" (click)="regimenActionDown(idx)">Down</button>
                            
                            <button type="button" class="btn btn-default" (click)="removeRegimenAction(idx)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</div>